<h1>Deparamento#New</h1>
<h2>Crear nuevo departamento</h2>
<%= render "form", departamento: @departamento %>

<%= link_to "Volver al listado de departamentos", departamentos_path%>


<h2>No logré hacer que validara la información, si no se ingresa un número o no se elige un edificio, la página se cae</h2>
<h2>Pero si se ingresa el número y se selecciona el edificio, lo agrega sin problemas</h2>
